.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  width: 500px;
  max-width: 500px;
  margin: auto;
  justify-content: center;
}

.input {
  padding: 7px;
  width: 500px;
}

button:hover {
  background-color: aqua;
}

button {
  transition-duration: 0.4s;
  background-color: dodgerblue;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  color: white;
  text-align: center;
  font-size: 12px;
}

img {
  max-width:100%;
  max-height:auto;
}

.preview {
  display: flex;
  flex-direction: row;
  max-width:10%;
  display: block;
  margin: auto;
}

.posts {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.post {
  outline-width: 1px;
  outline-style: solid;
  outline-color: black;
  border-radius: 7px;
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pfp {
  width: 3em;
  height: 3em;
  clip-path: circle();
  margin: 10px;
}

