.App {
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.post {
  outline-style: solid;
  outline-color: black;
  border-radius: 7px;
  max-width: inherit;
  margin-top: 20px;
}

.pfp {
  width: 3em;
  height: 3em;
  clip-path: circle();
  margin: 10px;
}

.header {
  display: flex;
  align-items: center;
}