.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  margin: auto;
}

.input {
  padding: 5px;
  margin: 10px;
  width: 400px;
}

button {
  background-color: dodgerblue;
  border: none;
  color: white;
  text-align: center;
  font-size: 12px;
}

.posts {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.post {
  outline-width: 1px;
  outline-style: solid;
  outline-color: black;
  border-radius: 7px;
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pfp {
  width: 3em;
  height: 3em;
  clip-path: circle();
  margin: 10px;
}

